/****************************************
                Base Styles
*****************************************/

a {
    text-decoration: none;
    color: steelblue;
    cursor: default;
}

.full-width {
    width: 96%;
}

.caption {
    font-size: .85em;
}

.p-t-1 {
    padding-top: 1em;
}

.p-a {
    padding: .5em;
    /*box-siz*/
}

.m-a-half {
    margin: .5em;
}

.dark {
    color: #3f3f3f;
}

.pointer {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

.txt-center {
    text-align: center;
}

/****************************************
                 NavBar
*****************************************/

._md-nav-button.md-active,
.md-tab.md-active {
    background: rgb(144, 164, 174);
    color: #EEE !important;
    -webkit-border-radius: .25em .25em 0;
    -moz-border-radius: .25em .25em 0;
    border-radius: .25em .25em 0;
}

.md-nav-ink-bar {
    background: transparent !important;
}

.md-nav-bar {
    padding-top: 1em;
    max-height: 49px !important;
    box-sizing: border-box;
}

button.md-button,
a.md-button {
    padding: 0 !important;
}

.md-nav-item button,
.md-nav-item a {
    padding-top: .8em !important;
    font-size: .8em;
}

.md-nav-item i {
    font-size: 1.3em;
}

.logo {
    height: 40px;
    width: 60px;
    margin-top: -12px;
    padding-left: .5em;
}

/****************************************
                 SideBar
*****************************************/

input,
textarea,
md-select {
    border: 1px solid #BBB !important;
}

.sign-up label,
.main label,
md-select label,
side-bar label {
    padding-left: .5em !important;
}

/***************************************
****   error and successful         ****
****    sign up/login messags       **** 
****   smooth transitions:          ****
****************************************/

.error {
    color: #DA3637;
    font-size: 1em;
    line-height: 1.25em;
    text-align: center;
    padding: 0;
    margin: 0;
}

.error.ng-show-remove, .error.ng-show-add {
    transition: all ease 0.5s;
}

.error.ng-hide {
    line-height: 0;
    opacity: 0;
}

.success-message {
    opacity: 1;
    line-height: 1.15em;
    margin: 0;
    padding: 0;
}

.success-message.ng-show-add, .success-message.ng-show-remove {
    transition: all ease 0.5s;
}

.aside {
    margin: 1.15em;
}

.drop-box,
input,
textarea,
md-select {
    -webkit-border-radius: .25em !important;
    -moz-border-radius: .25em !important;
    border-radius: .25em !important;
    box-shadow: inset 3px 3px 3px -3px rgba(0, 0, 0, 0.2) !important;
    background: #fff !important;
}

.aside md-toolbar {
    min-height: 40px;
    height: 40px;
}

.login md-input-container {
    margin: .65em 0 0 0;
    max-height: 35px !important;
}

.login-button {
    width: 25px;
    margin: .25em;
}

.main-buttons .md-button {
    border-radius: 25px 0 25px 0 !important;
    padding: 0 !important;
}

.side-bar .vote,
.side-bar .vote i {
    max-height: 40px !important;
    max-width: 20px !important;
}

.side-bar .recent {
    border: 1px solid #DDD;
    background: #eee;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
    padding: 0 !important;
}

/****************************************
                Main/Posts
*****************************************/

.main-post-thumb {
    width: 85px;
    height: 70px;
    padding: 0 !important;
}

.main .vote {
    min-height: 89px;
    max-width: 40px;
}

.vote i,
.vote span,
.main .caption {
    color: #AAA;
}

.main .caption {
    font-size: .7em;
}

/****************************************
                SignUp/Login
*****************************************/

.sign-up div {
    min-width: 400px;
}

.sign-up md-input-container {
    max-width: 250px;
    margin: 0;
}

.sign-up input {
    background: #fff;
}

.sign-up {
    background-color: #DDD;
}

.success-login {
    transition: background .5s;
    background-color: rgb(96, 125, 139) !important;
}

.sign-up h3 {
    color: #3f3f3f;
}

.sign-up .md-button {
    color: #DDD !important;
}

.fb {
    background: #3b5998 !important;
}

.fb small {
    color: #FFF !important;
    font-size: .8em;
    padding: 0 .5em 0 .5em;
}

.fb img {
    border-right: 1px solid dimgray;
    margin: .25em;
    padding-right: .5em;
    width: 27px;
    height: 27px;
}

/****************************************
                New post
*****************************************/

.new-post {
    margin-top: 2em;
}

.new-post textarea {
    min-height: 100px !important;
}

.new-post form[name="newTextPostForm"],
.new-post form[name="newLinkPostForm"],
form[name="newSubForumForm"] {
    max-width: 500px;
    margin: auto;
}

form[name="newTextPostForm"] md-input-container,
form[name="newLinkPostForm"] md-input-container,
form[name="newSubForumForm"] md-input-container {
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
    background: rgb(144, 164, 174);
    padding: 1.2em;
    margin: .35em;
}

.sub-list {
    background: rgb(144, 164, 174);
    margin: .5em;
}

form[name="newTextPostForm"] label,
form[name="newLinkPostForm"] label,
form[name="newSubForumForm"] label {
    padding-left: 1.5em !important;
    margin-bottom: -10px !important;
}

.drop-box {
    min-width: 300px;
    background: rgb(250, 250, 250);
}

.drop-box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

form[name="newLinkPostForm"] .md-button {
    margin: .5em 0 !important;
}

form[name="newSubForumForm"] label {
    padding-left: 1.5em !important;
    margin-bottom: -10px !important;
}

