
<md-button class="ng-raised md-primary" ng-click="showPrompt($event)">{{button}}</md-button>
<md-dialog class="authDialog">
        
        <md-dialog-content class="dialog-body">
                <form name="signupForm" layout="column" layout-margin layout-padding>
                    <md-input-container>
                        <label>first name</label>
                        <input type="text" placeholder="first name" ng-model="user.firstName" autofocus>
                        <p class="error validationerror" ng-show="signupForm.firstName.$invalid && invalidForm">You must provide a first name.</p>
                    </md-input-container>
                    <md-input-container>
                        <label>last name</label>
                        <input type="text" placeholder="last name" ng-model="user.lastName" autofocus>
                        <p class="error validationerror" ng-show="signupForm.lastName.$invalid && invalidForm">You must provide a last name.</p>
                    </md-input-container>
                    <md-input-container>
                        <label>username</label>
                        <input type="text" placeholder="username" ng-model="user.username" autofocus>
                        <p class="error validationerror" ng-show="signupForm.username.$invalid && invalidForm">A username is required.</p>
                    </md-input-container>
                    <md-input-container>
                        <label>email</label>
                        <input type="email" name="email" placeholder="email" ng-model="user.email" ng-required="true">
                        <p class="error validationerror" ng-show="signupForm.email.$invalid && invalidForm">A valid email address is required.</p>
                    </md-input-container>
                    <md-input-container><label>password</label>
                        <input type="password" name="password" placeholder="password" ng-model="user.password" ng-required="true">
                        <p class="error validationerror" ng-show="signupForm.password.$invalid && invalidForm">A password is required.</p>
                    </md-input-container>
            </form>
            <div class="success-message" ng-show="success">
                <p class="h3 text-center text-success" >
                    Signup Successfull! <br/>
                    <small>Please login on next page.</small>
                </p>
            </div>
            <div class="error" ng-show="duplicate">
                <p class="h3 text-center text-danger" >
                    That {{duplicate}} is already in use. <br/>
                    <small>If you're already signed up, please login<a class="h4" style="font-weight:900;color:#555" href ng-click="showLogin(user.email)"> here</a></small><br/><small>Otherwise use a different {{duplicate}} to sign up.</small>
                </p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="column">
            <input type="submit" form="signupForm"  value="Signup" class="md-button md-raised md-primary" ng-click="signup($event)">
            <br>
            <div layout="row">
                <md-button class="md-raised" ng-click="oauthSignup('facebook')"><img src="https://scontent-sjc2-1.xx.fbcdn.net/t39.2178-6/851579_209602122530903_1060396115_n.png" alt=""></md-button>
                <md-button class="md-raised" ng-click="oauthSignup('twitter')"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-link.png" alt=""> </md-button>
            </div>
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>
        </md-dialog-actions>
</md-dialog>