<md-toolbar md-theme="blue"></md-toolbar>
<div class="side-bar" ng-cloak>
    <div layout-padding>
        <form name="searchForm" ng-submit="querySubs()">
            <md-input-container layout layout-align="start end" md-theme="blue">
                <label>search</label>
                <input type="text" ng-model="search.query">
            </md-input-container>
            <md-button type="submit" class="md-raised md-primary full-width" md-theme="blue">search</md-button>
        </form>
        <div class="login" ng-show="!permission" md-theme="blue">
            <span><small>Login or <a ng-click="showAuthForm()"><b>signup</b></a></small></span>

            <form name="loginForm" ng-submit="login(user, loginForm)" layout="column">
                <div class="login" layout>
                    <md-input-container flex="50">
                        <label>username</label>
                        <input type="text" ng-model="user.username" required>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>password</label>
                        <input type="password" ng-model="user.password" required>
                    </md-input-container>
                </div>
                <div ng-messages="loginError" class="caption" style="color: maroon">
                    <p class="error">{{message}}</p>
                </div>

                <md-button class="login-button md-raised md-primary" type="submit">login
                </md-button>
            </form>
            <md-content layout-margin>
            </md-content>
        </div>
    </div>
    <div class="main-buttons" md-theme="cyan" layout="column" layout-align="center space-around" layout-padding>
        <md-button class="full-width md-accent md-raised"
                   ng-click=" (permission) ? location.path('/newpost') : showAuthForm()">Submit a new Post
        </md-button>
        <md-button class="full-width md-accent md-raised"
                   ng-click=" (permission) ? location.path('/newsubforum') : showAuthForm()">Create your own sub forum
        </md-button>
    </div>
    <div ng-if="permission" class="recent">
        <md-subheader md-theme="cyan">recently viewed</md-subheader>
        <!-- ng-repeat -->
        <div class="caption m-a-half " layout layout-align="start center">
            <div class="vote m-a-half" layout="column" layout-align="center center">
                <i class="material-icons pointer" ng-click="addPostVote(post, 'up')">keyboard_arrow_upward</i>
                <span><b>{{post.netVotes}}</b></span>
                <i class="material-icons pointer" ng-click="addPostVote(post, 'down')">keyboard_arrow_downward</i>
            </div>
            <div layout="column">
                <a href="">I like dogs</a>
                <span class="caption dark">600 | <a href="">comment</a></span>
            </div>
        </div>

        <div class="caption m-a-half" layout layout-align="start center">
            <div class="vote m-a-half" layout="column" layout-align="center center">
                <i class="material-icons pointer" ng-click="addPostVote(post, 'up')">keyboard_arrow_upward</i>
                <span><b>{{post.netVotes}}</b></span>
                <i class="material-icons pointer" ng-click="addPostVote(post, 'down')">keyboard_arrow_downward</i>
            </div>
            <div layout="column">
                <a href="">Look at this picture from 1971</a>
                <span class="caption dark">600 | <a href="">comment</a></span>
            </div>
        </div>
        <div class="caption m-a-half" layout layout-align="start center">
            <div class="vote m-a-half" layout="column" layout-align="center center">
                <i class="material-icons pointer" ng-click="addPostVote(post, 'up')">keyboard_arrow_upward</i>
                <span><b>{{post.netVotes}}</b></span>
                <i class="material-icons pointer" ng-click="addPostVote(post, 'down')">keyboard_arrow_downward</i>
            </div>
            <div layout="column">
                <a href="">how do I know if he's cheating?</a>
                <span class="caption dark">908 | <a href="">comment</a></span>
            </div>
        </div>
    </div>
</div>