<div class="new-post" ng-cloak>
    <div flex="100" layout layout-align="space-around start">
        <div flex="70" flex-offset="5" ng-cloak>
            <md-content flex="70" md-theme="blue">
                <form name="newSubForumForm" ng-submit="createNewSubForum()" layout="column">
                    <md-input-container>
                        <label>name</label>
                        <input type="text" ng-model="newSubForum.name" ng-minlength="2" ng-maxlength="10" required>
                        <br>
                        <span class="caption dark p-t-1">give your sub a short but descriptive name</span>
                    </md-input-container>
                    <md-input-container>
                        <label>description</label>
                        <input type="text" ng-model="newSubForum.description" ng-minlength="25" ng-maxlength="100" required>
                        <br>
                        <span class="caption dark p-t-1">describe your new cool sub and what it's purpose is</span>
                    </md-input-container>
                    <md-input-container>
                        <label>submission text</label>
                        <textarea type="text" ng-model="newSubForum.submissionText"></textarea>
                        <span class="caption dark p-t-1">outline some rules to follow when posts, such as: must be polite, no cursing allowed! </span>
                    </md-input-container>
                    <md-button type="submit" class="md-raised md-primary">create new sub forum</md-button>
                </form>
            </md-content>
        </div>
        <side-bar class="aside" flex="25" layout="column" layout-align="start stretch" md-whiteframe="z1"></side-bar>
    </div>
</div>