<md-dialog class="sign-up" ng-class="{'success-login': success}" aria-label="List dialog" ng-cloak>
    <md-dialog-content layout="column" layout-gt-xs="row">
        <div ng-hide="success" layout="column" layout-align="center center">
            <h3>create a new account</h3>
            <form name="signUpForm" ng-submit="signup(newUser)" md-theme="forms" layout="column">
                <md-input-container>
                    <label>username</label>
                    <input type="text" name="username" ng-model="newUser.username" ng-minlength="4" ng-maxlength="15" required>
                    <div ng-messages="signUpForm.username.$error" style="color: maroon" role="alert">
                        <div ng-message="minlength">username name is too short</div>
                        <div ng-message="maxlength">username name is too long</div>
                        <div ng-message="required">required</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>password</label>
                    <input type="password" name="password" ng-model="newUser.password" ng-minlength="8"
                           pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                    <div ng-messages="signUpForm.password.$error" style="color: maroon" role="alert">
                        <div ng-message="minlength">password is too short</div>
                        <div ng-message="required">you must enter a password</div>
                        <div ng-message="pattern">Must contain one number and letter</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>confirm password</label>
                    <input type="password" name="confirmPassword" ng-model="confirm.password"
                           pattern="\b{{newUser.password}}\b" required>
                    <div ng-messages="signUpForm.confirmPassword.$error" style="color:maroon" role="alert">
                        <div ng-message="pattern">Passwords must match</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>email</label>
                    <input type="email" name="email" ng-model="newUser.email" ng-minlength="3"
                           pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
                    <div ng-messages="signUpForm.email.$error">
                        <div ng-message="pattern">please enter a valid email</div>
                    </div>
                </md-input-container>
                <p class="error" ng-show="duplicate">{{message}}</p>
                <md-button type="submit" class="md-raised md-accent" ng-disabled="signUpForm.$invalid">sign up
                </md-button>
            </form>
        </div>
        <md-divider></md-divider>
        <div layout="column" layout-align="start center">
            <h3>login</h3>
            <form name="loginFormDialog" ng-submit="login(userDialog, loginFormDialog)" md-theme="forms" layout="column">
                <md-input-container>
                    <label>username</label>
                    <input type="text" name="username" ng-model="userDialog.username" required>
                    <div ng-messages="loginFormDialog.username.$error" style="color:maroon" role="alert">
                        <div ng-message="required">Username is required</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>password</label>
                    <input type="password" name="password" ng-model="userDialog.password" required>
                    <div ng-messages="loginFormDialog.password.$error" style="color:maroon" role="alert">
                        <div ng-message="required">password is required</div>
                    </div>
                </md-input-container>
                <md-button type="submit" class="md-raised md-accent" ng-disabled="loginFormDialog.$invalid">login
                </md-button>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-hide="success" class="md-primary md-raised fb" md-theme="blue" layout layout-align="start center">
            <img src="../assets/20140221023021!Facebook_icon.svg" alt="facebook icon">
            <small>Log In with Facebook</small>
        </md-button>
        <md-button class="md-accent md-hue-1 md-raised" md-theme="cyan" ng-click="close()">
            <small>close</small>
        </md-button>
    </md-dialog-actions>
</md-dialog>