<div layout-padding ng-cloak>
    <div flex="100" layout layout layout-align="space-around start">
        <div class="main" flex="70" ng-cloak>
            <md-content>
                <md-list flex>
                    <md-list-item class="md-3-line post" ng-repeat="post in posts" md-whiteframe="2" layout-padding layout-margin>
                        <div class="vote" layout="column" layout-align="center center">
                            <i class="material-icons pointer" ng-click="addPostVote(post, 'up')">keyboard_arrow_upward</i>
                            <span><b>{{post.netVotes}}</b></span>
                            <i class="material-icons pointer" ng-click="addPostVote(post, 'down')">keyboard_arrow_downward</i>
                        </div>
                        <div layout layout-padding>
                            <a ng-href="{{::post.siteUrl}}/#/post/{{::post._id}}"><img ng-src="{{::post.image}}" alt="image of {{::post.title}}" class="main-post-thumb"/></a>
                            <div class="md-list-item-text" layout="column">
                                <p>{{::post.title}}</p>
                                <span class="caption">
                                    submitted {{ ::post.createdAt | when }} by <a href="#/"><b>{{::post.originalPoster.username}}</b></a> to <b><a href="#/sub/{{::post.subreddit._id}}">{{::post.subreddit.name}}</a></b>
                                    <br/>
                                    <b><a class="pointer" href="#/post/{{::post._id}}">{{post.comments.length}} comments</a></b>
                                </span>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <side-bar class="aside" flex="25" layout="column" layout-align="start stretch" md-whiteframe="z1"></side-bar>
    </div>
</div>