<md-content ng-cloak>
    <md-list flex="100" flex-gt-sm="80" flex-gt-md="60">
        <md-subheader class="md-no-sticky">
            <a layout-padding ng-click="filter = null ">all</a>
            <a layout-padding ng-click="filter = 'unread' ">unread</a>
            <a layout-padding ng-click="filter = 'comment' ">comment replies</a>
            <a layout-padding ng-click="filter = 'post' ">post replies</a>
        </md-subheader>
        <!-- ng-repeat through messages, filter by filter -->
        <md-list-item class="md-3-line md-long-text">

            <div class="md-list-item-text">

                <h3>{{ message[0].who }}</h3>
                <p>
                    Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                    Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                    velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>

            </div>

        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
            <div class="md-list-item-text">
                <h3>{{ todos[1].who }}</h3>
                <p>
                    Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                    Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                    velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </md-list-item>
    </md-list>
</md-content>